#Kitchen Nightmares Data

##Data Cleaning

1. Read in Messy Kitchen Nightmares data link from Github repository.

In [1]:
import pandas as pd
import numpy as np

kn_url = "https://github.com/Personal-Portfolio-Gordon-Ramsay-TCG/Gordon_Ramsay/raw/refs/heads/main/Messy%20Data/messy_kitchen_nightmares.csv"

2. Read in CSV file from link.

In [2]:
kn_df = pd.read_csv(kn_url)
kn_df.head()

,Unnamed: 0,SeAsOn,EPISODE,r.estaurant.name,cIty,STAte,o.riginala.ir.date,s.tatus,ORIginalfilmMONTH,Closing Year,Cuisine,Revisited,Two Parts
0,1,oNE,one,Peter's...,Babylon,NY,2007-09-19,closed,Mar 2007,2008,Italian,No,No
1,2,1,2,Dillon's...,NYC,NY,2007-09-26,Closed,Mar 2007,2008,Indian,No,N
2,3,1,3,The Mixing Bowl...,Bellmore,NY,october 3 2007,Closed,Mar 2007,2009,american,No,No
3,4,uno,4,Seascape...,Islip,NY,2007-10-10,Closed,Mar 2007,2007,Seafood,No.,No
4,5,1,five,The Olde Stone Mill...,Tuckahoe,NY,2007-10-17,closed,Mar 2007,2022,American,Yes,No

3. Clean column names and drop the first column because it is unnecessary.

In [3]:
kn_df.columns

kn_df = kn_df.drop(columns=['Unnamed: 0'])

kn_df.columns = ['season', 'episode', 'restaurant', 'city', 'state', 'air_date', 'status', 'film_month', 'closing_year', 'cuisine', 'revisited', 'two_parts']

kn_df.columns

Index(['season', 'episode', 'restaurant', 'city', 'state', 'air_date',
       'status', 'film_month', 'closing_year', 'cuisine', 'revisited',
       'two_parts'],
      dtype='object')

4. Next, we will check for all unique values in the 'season' column.

In [4]:
kn_df['season'].unique()

array(['oNE', '1', ' uno', '2', '22222222', '3', '4', '5', 'fifth', '6',
       'six', '7', '8'], dtype=object)

5. There are some odd values, so we should fix them manually. Then, we'll re-check unique values to check work.

In [5]:
kn_df.loc[kn_df['season'] == 'oNE', 'season'] = '1'
kn_df.loc[kn_df['season'] == ' uno', 'season'] = '1'
kn_df.loc[kn_df['season'] == '22222222', 'season'] = '2'
kn_df.loc[kn_df['season'] == 'fifth', 'season'] = '5'
kn_df.loc[kn_df['season'] == 'six', 'season'] = '6'

kn_df['season'].unique()

array(['1', '2', '3', '4', '5', '6', '7', '8'], dtype=object)

6. Next, we'll move on to the 'episode' column and check for all unique values.

In [6]:
kn_df['episode'].unique()

array([' one', '2', '3', '4', 'five', '6', '7', '8', '9', 'TEN!', '5',
       '10', ' eeleven', '12', '1', '11', 'tree', '13', '14', '15', '16',
       '17', 'sEven'], dtype=object)

7. There are some odd values, so we should fix them manually. Then, re-call unique values to check work.

In [7]:
kn_df.loc[kn_df['episode'] == ' one', 'episode'] = '1'
kn_df.loc[kn_df['episode'] == 'five', 'episode'] = '5'
kn_df.loc[kn_df['episode'] == 'TEN!', 'episode'] = '10'
kn_df.loc[kn_df['episode'] == ' eeleven', 'episode'] = '11'
kn_df.loc[kn_df['episode'] == 'tree', 'episode'] = '3'
kn_df.loc[kn_df['episode'] == 'sEven', 'episode'] = '7'

kn_df['episode'].unique()

array(['1', '2', '3', '4', '5', '6', '7', '8', '9', '10', '11', '12',
       '13', '14', '15', '16', '17'], dtype=object)

8. Next, we'll look at the unique values in the 'restaurant' column.

In [8]:
kn_df['restaurant'].unique()

array(["Peter's...", "Dillon's...", 'The Mixing Bowl...', 'Seascape...',
       'The Olde Stone Mill...', "Sebastian's...", "Finn McCool's...",
       "Lela's...", 'Campania...', 'The Secret Garden...', 'Handlebar...',
       "Giuseppi's...", "Trobiano's...", 'Black Pearl...', "J Willy's...",
       "Hannah & Mason's...", "Jack's Waterfront...", "Sabatiello's...",
       'Fiesta Sunrise...', 'Sante La Brea...', 'Cafe 36...',
       'Hot Potato Cafe...', "FlAmAnGo'S", 'Bazzini', 'Mojito',
       'Lido di Manhattan', 'Le Bistro', 'Casa Roma', "Mama Rita's",
       "Anna Vincenzo's", 'FlEmINg', 'Sushi-Ko?', 'Spanish Pavilion',
       'Classic American', "PJ's Steakhouse", 'Grasshopper Also',
       'Davide', 'Down City', 'Tavolini', 'Kingston Cafe', 'La Frite',
       'Capri', "Zeke's", 'Oceana', "Blackberry's", "Leone's",
       "Mike & Nellie's", "Luigi's D'Italia", 'Burger Kitchen01',
       'The Greek at the Harbor', "Michon's", 'El Greco', "Park's Edge",
       'Spin-A-Yarn Steakhouse', "Charlie's", 'Cafe Hon', "Chiarella's",
       'Zocalo', 'La Galleria 33...', "Mama Maria's",
       "Ms. Jean's Southern Cuisine", "BaREfoOt BoB's",
       'Olde Hitching Post Restaurant and Tavern',
       "Levanti's Italian Restaurant", "Sam's Mediterranean Kabob Room",
       "Nino's Italian Restaurant", 'Mill Street Bistro', "Yanni's",
       'Prohibition Grille', "Chappy's", "Amy's Baking Company",
       "Pantaleone's:", 'Old Neighborhood', 'Kati Allo',
       'Mangia Mangia--', 'Zayna Flaming Grill', 'Bella Luna', 'Bel Aire',
       'Bask 46', 'In the Drink', 'Da Mimmo', 'The Juicy Box',
       'Love Bites', 'El Cantito', 'South Brooklyn Foundry',
       "Max's Bar & Grill", 'Diwan'], dtype=object)

9. There are some odd values, so we will need to change them manually. There are also some strings that are reoccurring at the end of some of the restaurant names such as "..." that need to be removed. Then, re-call unique values to check work.

In [9]:
kn_df['restaurant'] = kn_df['restaurant'].str.replace('...', '')

kn_df.loc[kn_df['restaurant'] == "FlAmAnGo'S", 'restaurant'] = "Flamango's"
kn_df.loc[kn_df['restaurant'] == 'FlEmINg', 'restaurant'] = "Fleming"
kn_df.loc[kn_df['restaurant'] == 'Sushi-Ko?', 'restaurant'] = 'Sushi-Ko'
kn_df.loc[kn_df['restaurant'] == 'Burger Kitchen01', 'restaurant'] = 'Burger Kitchen'
kn_df.loc[kn_df['restaurant'] == "BaREfoOt BoB's", 'restaurant'] = "Barefoot Bob's"
kn_df.loc[kn_df['restaurant'] == "Pantaleone's:", 'restaurant'] = "Pantaleone's"
kn_df.loc[kn_df['restaurant'] == 'Mangia Mangia--', 'restaurant'] = 'Mangia Mangia'

kn_df['restaurant'].unique()

array(["Peter's", "Dillon's", 'The Mixing Bowl', 'Seascape',
       'The Olde Stone Mill', "Sebastian's", "Finn McCool's", "Lela's",
       'Campania', 'The Secret Garden', 'Handlebar', "Giuseppi's",
       "Trobiano's", 'Black Pearl', "J Willy's", "Hannah & Mason's",
       "Jack's Waterfront", "Sabatiello's", 'Fiesta Sunrise',
       'Sante La Brea', 'Cafe 36', 'Hot Potato Cafe', "Flamango's",
       'Bazzini', 'Mojito', 'Lido di Manhattan', 'Le Bistro', 'Casa Roma',
       "Mama Rita's", "Anna Vincenzo's", 'Fleming', 'Sushi-Ko',
       'Spanish Pavilion', 'Classic American', "PJ's Steakhouse",
       'Grasshopper Also', 'Davide', 'Down City', 'Tavolini',
       'Kingston Cafe', 'La Frite', 'Capri', "Zeke's", 'Oceana',
       "Blackberry's", "Leone's", "Mike & Nellie's", "Luigi's D'Italia",
       'Burger Kitchen', 'The Greek at the Harbor', "Michon's",
       'El Greco', "Park's Edge", 'Spin-A-Yarn Steakhouse', "Charlie's",
       'Cafe Hon', "Chiarella's", 'Zocalo', 'La Galleria 33',
       "Mama Maria's", "Ms. Jean's Southern Cuisine", "Barefoot Bob's",
       'Olde Hitching Post Restaurant and Tavern',
       "Levanti's Italian Restaurant", "Sam's Mediterranean Kabob Room",
       "Nino's Italian Restaurant", 'Mill Street Bistro', "Yanni's",
       'Prohibition Grille', "Chappy's", "Amy's Baking Company",
       "Pantaleone's", 'Old Neighborhood', 'Kati Allo', 'Mangia Mangia',
       'Zayna Flaming Grill', 'Bella Luna', 'Bel Aire', 'Bask 46',
       'In the Drink', 'Da Mimmo', 'The Juicy Box', 'Love Bites',
       'El Cantito', 'South Brooklyn Foundry', "Max's Bar & Grill",
       'Diwan'], dtype=object)

10. Next, let's look at the unique values for the 'city' column.

In [10]:
kn_df['city'].unique()

array(['Babylon', 'NYC', 'Bellmore', 'Islip', 'Tuckahoe', 'Toluca Lake',
       'Westhampton', 'Pomona', 'Fair Lawn', 'Moorpark', 'Mount Sinai',
       'Macomb Township', 'Great Neck', 'New York City', 'South Bend',
       'Cranbury', 'St. Clair Shores', 'Stamford', 'West Nyack',
       'Los Angeles', 'La Grange', 'Fishtown', 'Whitehouse Station',
       'Ridgewood', 'Brooklyn', 'Manhattan Beach', 'Lighthouse Point',
       'Lancaster', 'Newbury Park', 'Boca Raton', 'Miami',
       'Thousand Oaks', 'Harrison...', 'Queens', 'Carlstadt', 'Boston',
       'Providence', 'Bridgeport', 'Pasadena', 'Sherman Oaks',
       'Eagle Rock', 'Metairie', 'New Orleans', 'Plainfield', 'Montclair',
       'Oakhurst', 'Anaheim', 'LA', 'Ventura', 'College Park', 'Austin',
       'Atlanta', 'Fremont', 'La Verne', 'Baltimore', 'Philadelphia',
       'Wilkinsburg', 'Hull', 'Hanson', 'Beaver', 'Monrovia',
       'Long Beach', 'Norwalk', 'Seattle', 'Everett', 'Nashville',
       'Scottsdale', 'Denver', 'Arvada', 'Woodland Park', 'Redondo Beach',
       'Easton', 'Astoria', 'Wayne', 'Dumont', 'Saugerties', 'Yonkers',
       'Long Branch', 'Port Washington'], dtype=object)

11. There are a couple values that need to be manually changed since they were put in as abbreviations. There is also one value with the string '...' that needs to be fixed. Then, we'll re-call the column's unique values to check our work.

In [11]:
kn_df.loc[kn_df['city'] == 'LA', 'city'] = 'Los Angeles'
kn_df.loc[kn_df['city'] == 'NYC', 'city'] = 'New York City'
kn_df.loc[kn_df['city'] == 'Harrison...', 'city'] = 'Harrison'

kn_df['city'].unique()

array(['Babylon', 'New York City', 'Bellmore', 'Islip', 'Tuckahoe',
       'Toluca Lake', 'Westhampton', 'Pomona', 'Fair Lawn', 'Moorpark',
       'Mount Sinai', 'Macomb Township', 'Great Neck', 'South Bend',
       'Cranbury', 'St. Clair Shores', 'Stamford', 'West Nyack',
       'Los Angeles', 'La Grange', 'Fishtown', 'Whitehouse Station',
       'Ridgewood', 'Brooklyn', 'Manhattan Beach', 'Lighthouse Point',
       'Lancaster', 'Newbury Park', 'Boca Raton', 'Miami',
       'Thousand Oaks', 'Harrison', 'Queens', 'Carlstadt', 'Boston',
       'Providence', 'Bridgeport', 'Pasadena', 'Sherman Oaks',
       'Eagle Rock', 'Metairie', 'New Orleans', 'Plainfield', 'Montclair',
       'Oakhurst', 'Anaheim', 'Ventura', 'College Park', 'Austin',
       'Atlanta', 'Fremont', 'La Verne', 'Baltimore', 'Philadelphia',
       'Wilkinsburg', 'Hull', 'Hanson', 'Beaver', 'Monrovia',
       'Long Beach', 'Norwalk', 'Seattle', 'Everett', 'Nashville',
       'Scottsdale', 'Denver', 'Arvada', 'Woodland Park', 'Redondo Beach',
       'Easton', 'Astoria', 'Wayne', 'Dumont', 'Saugerties', 'Yonkers',
       'Long Branch', 'Port Washington'], dtype=object)

12. Next, let's look at the 'state' column and its unique values.

In [12]:
kn_df['state'].unique()

array(['NY', 'CA', 'new jersey', 'MI', 'NEW YORK', 'IN', 'NJ', 'CT',
       'cali', 'IL', 'PA', 'FL', 'MA', 'RI', 'LA', 'New Orleans, LA',
       'GA', 'TX', 'MD', 'OH', 'WA', 'TN', 'AZ', 'CO', 'jersey'],
      dtype=object)

13. There are some values that need to be manually fixed since they were not inputted in the correct format. Ater, we will re-call the column's unique values to check our work.

In [13]:
kn_df.loc[kn_df['state'] == 'new jersey', 'state'] = 'NJ'
kn_df.loc[kn_df['state'] == 'NEW YORK', 'state'] = 'NY'
kn_df.loc[kn_df['state'] == 'cali', 'state'] = 'CA'
kn_df.loc[kn_df['state'] == 'New Orleans, LA', 'state'] = 'LA'
kn_df.loc[kn_df['state'] == 'jersey', 'state'] = 'NJ'

kn_df['state'].unique()

array(['NY', 'CA', 'NJ', 'MI', 'IN', 'CT', 'IL', 'PA', 'FL', 'MA', 'RI',
       'LA', 'GA', 'TX', 'MD', 'OH', 'WA', 'TN', 'AZ', 'CO'], dtype=object)

14. Next, let's look at the 'air_date' column's unique values.

In [14]:
kn_df['air_date'].unique()

array(['2007-09-19', '2007-09-26', 'october 3 2007', '2007-10-10',
       '2007-10-17', '2007-11-07', '2007-11-14', '2007-11-21',
       '2007-11-28', '2007-12-12', '2008-09-11', '2008-09-18',
       '09-25-2008', '2008-09-25', '2008-10-30', '2008-11-06',
       '2008-11-13', '2008-11-20', '2009-01-15', '2010-01-29',
       '2010-02-02', '2010-02-05', '2010-02-25', '2010-03-04',
       '2010-03-11', '12th of march 2010', '2010-03-19', '2010-03-26',
       '2010-05-07', '2010-05-14', '2011-01-21', '2011-01-28',
       '2011-02-11', '2011-02-18', '2011-02-25', '2011-03-11',
       '2011-03-25', '2011-04-15', '2011-04-29', '2011-05-06',
       '2011-05-13', '2011-05-20', '2011-09-23', '2011-09-30',
       '2011-10-07', '2011-10-14', '2011-09-04', '2011-11-18',
       '2012-01-13', '2012-01-20', '2012-02-03', '2012-02-10',
       '2012-02-17', '2012-02-24', '2012-03-23', '2012-03-30',
       '2012-10-26', '2012-11-09', '2012-11-16', '2012-12-07',
       '2013-01-25', '2013-02-01', '2013-02-15', '2013-02-22',
       '2013-03-01', '2013-03-15', '2013-04-26', '2013-05-03',
       '2013-05-10', '2014-04-11', '2014-04-18', '2014-04-25',
       'may 2 2014', '2014-05-16', '2023-09-25', '2023-10-02',
       '2023-10-09', '2023-10-16', '2023-11-06', '2023-11-13',
       '2023-11-20', '2023-11-27', '2023-12-04', '2023-12-4'],
      dtype=object)

15. We want to make sure everything is in the correct Y-M-D format so it is read in correctly as a date. Let's manually change the incorrect values to the correct format. Then, we'll re-call the 'air_date' unique values to check our work.

In [15]:
kn_df.loc[kn_df['air_date'] == 'october 3 2007', 'air_date'] = '2007-10-03'
kn_df.loc[kn_df['air_date'] == '09-25-2008', 'air_date'] = '2008-09-25'
kn_df.loc[kn_df['air_date'] == '12th of march 2010', 'air_date'] = '2010-03-12'
kn_df.loc[kn_df['air_date'] == 'may 2 2014', 'air_date'] = '2014-05-02'
kn_df.loc[kn_df['air_date'] == '2023-12-4', 'air_date'] = '2023-12-04'

kn_df['air_date'].unique()

array(['2007-09-19', '2007-09-26', '2007-10-03', '2007-10-10',
       '2007-10-17', '2007-11-07', '2007-11-14', '2007-11-21',
       '2007-11-28', '2007-12-12', '2008-09-11', '2008-09-18',
       '2008-09-25', '2008-10-30', '2008-11-06', '2008-11-13',
       '2008-11-20', '2009-01-15', '2010-01-29', '2010-02-02',
       '2010-02-05', '2010-02-25', '2010-03-04', '2010-03-11',
       '2010-03-12', '2010-03-19', '2010-03-26', '2010-05-07',
       '2010-05-14', '2011-01-21', '2011-01-28', '2011-02-11',
       '2011-02-18', '2011-02-25', '2011-03-11', '2011-03-25',
       '2011-04-15', '2011-04-29', '2011-05-06', '2011-05-13',
       '2011-05-20', '2011-09-23', '2011-09-30', '2011-10-07',
       '2011-10-14', '2011-09-04', '2011-11-18', '2012-01-13',
       '2012-01-20', '2012-02-03', '2012-02-10', '2012-02-17',
       '2012-02-24', '2012-03-23', '2012-03-30', '2012-10-26',
       '2012-11-09', '2012-11-16', '2012-12-07', '2013-01-25',
       '2013-02-01', '2013-02-15', '2013-02-22', '2013-03-01',
       '2013-03-15', '2013-04-26', '2013-05-03', '2013-05-10',
       '2014-04-11', '2014-04-18', '2014-04-25', '2014-05-02',
       '2014-05-16', '2023-09-25', '2023-10-02', '2023-10-09',
       '2023-10-16', '2023-11-06', '2023-11-13', '2023-11-20',
       '2023-11-27', '2023-12-04'], dtype=object)

16. Next, we'll look at the unique values of the 'status' column.

In [16]:
kn_df['status'].unique()

array([' closed', 'Closed', 'closed', 'c', ' Closed', ' not open ',
       'Open', 'open', 'closed.', 'Open.'], dtype=object)

17. We should get rid of leading spaces and also change valus manually to create only two possible values- 'closed' and 'open'.

In [17]:
kn_df['status'] = kn_df['status'].str.replace(' ', '')

kn_df.loc[kn_df['status'] == 'Closed', 'status'] = 'closed'
kn_df.loc[kn_df['status'] == 'c', 'status'] = 'closed'
kn_df.loc[kn_df['status'] == 'notopen', 'status'] = 'closed'
kn_df.loc[kn_df['status'] == 'Open', 'status'] = 'open'
kn_df.loc[kn_df['status'] == 'closed.', 'status'] = 'closed'
kn_df.loc[kn_df['status'] == 'Open.', 'status'] = 'open'

kn_df['status'].unique()

array(['closed', 'open'], dtype=object)

18. Next, let's look at the unique values for the 'film_month' column. Everything looks normal so we can move on.

In [18]:
kn_df['film_month'].unique()

array(['Mar 2007', 'Feb 2007', 'Feb 2008', 'Mar 2008', 'May 2009',
       'Jul 2009', 'Nov 2010', 'May 2010', 'Dec 2010', 'Jan 2011',
       'Jul 2011', 'Aug 2011', 'Jan 2012', 'Sep 2011', 'Oct 2011',
       'Nov 2011', 'May 2012', 'Jun 2012', 'Jul 2012', 'Nov 2012',
       'Dec 2012', 'Jul 2013', 'Aug 2013', 'Apr 2023', 'Jun 2023',
       'Jul 2023'], dtype=object)

19. Then, we can look at the unique values for the 'closing_year' column.

In [19]:
kn_df['closing_year'].unique()

array(['2008', '2009', '2007', '2022', '2012', '2010', '2011', '2016',
       "didn't close", 'still open', '2017', '2013', '2014', '2018',
       '2019', nan, '2015', '2023', 'not applicable', '2024'],
      dtype=object)

20. There are many different values that need to be understood by Python as nan and will need to be manually changed. After, we will re-call the unique values to ensure that everything worked correctly.

In [20]:
kn_df.replace(["didn't close", "still open", "nan", "not applicable"], np.nan, inplace=True)

kn_df['closing_year'].unique()

array(['2008', '2009', '2007', '2022', '2012', '2010', '2011', '2016',
       nan, '2017', '2013', '2014', '2018', '2019', '2015', '2023',
       '2024'], dtype=object)

21. Then, we can look at the unique values for the 'cuisine' frequency table.

In [21]:
kn_df['cuisine'].unique()

array(['Italian', 'Indian', 'american', 'Seafood', 'American', 'Pizzeria',
       'Irish', 'Fine Dining', 'French', 'Mexican', 'Healthy', 'Hawaiian',
       'Italy', 'Cuban', 'Danish', 'Japanese', 'Spanish', 'Jamaican',
       'New Orleans', 'Soul Food', 'Steakhouse', 'Greek', 'Barbecue',
       'Steak', 'Mediterranean', 'Cajun', 'Pizza/Bakery', 'Pizza',
       'Middle Eastern', 'breakfast', 'Puerto Rican'], dtype=object)

22. There are some repetitive values that need to be manually changed. Then, we'll re-call the unique values to ensure that everything worked correctly.

In [22]:
kn_df.loc[kn_df['cuisine'] == 'american', 'cuisine'] = 'American'
kn_df.loc[kn_df['cuisine'] == 'Italy', 'cuisine'] = 'Italian'
kn_df.loc[kn_df['cuisine'] == 'Pizzeria', 'cuisine'] = 'Pizza'
kn_df.loc[kn_df['cuisine'] == 'Steak', 'cuisine'] = 'Steakhouse'
kn_df.loc[kn_df['cuisine'] == 'breakfast', 'cuisine'] = 'Breakfast'

kn_df['cuisine'].unique()

array(['Italian', 'Indian', 'American', 'Seafood', 'Pizza', 'Irish',
       'Fine Dining', 'French', 'Mexican', 'Healthy', 'Hawaiian', 'Cuban',
       'Danish', 'Japanese', 'Spanish', 'Jamaican', 'New Orleans',
       'Soul Food', 'Steakhouse', 'Greek', 'Barbecue', 'Mediterranean',
       'Cajun', 'Pizza/Bakery', 'Middle Eastern', 'Breakfast',
       'Puerto Rican'], dtype=object)

23. Next, let's look at the unique values of the 'revisited' column.

In [23]:
kn_df['revisited'].unique()

array(['No', ' No', 'No.', 'Yes', 'Yessss', 'No?', 'No...', ' yes ',
       'Nooooo'], dtype=object)

24. There should only be "Yes" or "No" values here so we'll manually change incorrect values. Then, we'll re-call the unique values to check our work.

In [24]:
kn_df.loc[kn_df['revisited'] == ' No', 'revisited'] = 'No'
kn_df.loc[kn_df['revisited'] == 'No.', 'revisited'] = 'No'
kn_df.loc[kn_df['revisited'] == 'Yessss', 'revisited'] = 'Yes'
kn_df.loc[kn_df['revisited'] == 'No?', 'revisited'] = 'No'
kn_df.loc[kn_df['revisited'] == 'No...', 'revisited'] = 'No'
kn_df.loc[kn_df['revisited'] == ' yes ', 'revisited'] = 'Yes'
kn_df.loc[kn_df['revisited'] == 'Nooooo', 'revisited'] = 'No'

kn_df['revisited'].unique()

array(['No', 'Yes'], dtype=object)

25. Next, let's look at the unique values of the 'two_parts' column.

In [25]:
kn_df['two_parts'].unique()

array(['No', 'N', 'Y', 'Yes', ' No', 'Yes ', ' No.'], dtype=object)

26. We need to manually change some values, and then re-call the unique values to make sure there are only two possible values: 'Yes' and 'No'.

In [26]:
kn_df.loc[kn_df['two_parts'] == 'N', 'two_parts'] = 'No'
kn_df.loc[kn_df['two_parts'] == 'Y', 'two_parts'] = 'Yes'
kn_df.loc[kn_df['two_parts'] == ' No', 'two_parts'] = 'No'
kn_df.loc[kn_df['two_parts'] == 'Yes ', 'two_parts'] = 'Yes'
kn_df.loc[kn_df['two_parts'] == ' No.', 'two_parts'] = 'No'

kn_df['two_parts'].unique()

array(['No', 'Yes'], dtype=object)

27. Saving the cleaned Kitchen nightmares data set to CSV.

In [27]:
kn_df.to_csv('cleaned_kitchen_nightmares.csv', index=False)

## Data Formatting

1. Read in Clean Kitchen Nightmares data from Github link.

In [28]:
clean_kn_link = "https://github.com/Personal-Portfolio-Gordon-Ramsay-TCG/Gordon_Ramsay/raw/refs/heads/main/Clean%20Data/cleaned_kitchen_nightmares.csv"

clean_kn = pd.read_csv(clean_kn_link)
clean_kn.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 87 entries, 0 to 86
Data columns (total 12 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   season        87 non-null     int64
 1   episode       87 non-null     int64
 2   restaurant    87 non-null     object
 3   city          87 non-null     object
 4   state         87 non-null     object
 5   air_date      87 non-null     object
 6   status        87 non-null     object
 7   film_month    87 non-null     object
 8   closing_year  68 non-null     float64
 9   cuisine       87 non-null     object
 10  revisited     87 non-null     object
 11  two_parts     87 non-null     object
dtypes: float64(1), int64(2), object(9)
memory usage: 8.3+ KB

2. TEXT DATA

We have many columns of text data (restaurant, city, state, status, cuisine, revisited, two_parts) that we want to make sure are in all lower case.

In [29]:
clean_kn['restaurant'] = clean_kn['restaurant'].str.lower()
clean_kn['city'] = clean_kn['city'].str.lower()
clean_kn['state'] = clean_kn['state'].str.lower()
clean_kn['status'] = clean_kn['status'].str.lower()
clean_kn['cuisine'] = clean_kn['cuisine'].str.lower()
clean_kn['revisited'] = clean_kn['revisited'].str.lower()
clean_kn['two_parts'] = clean_kn['two_parts'].str.lower()

clean_kn.head()

,season,episode,restaurant,city,state,air_date,status,film_month,closing_year,cuisine,revisited,two_parts
0,1,1,peter's,babylon,ny,2007-09-19,closed,Mar 2007,2008.0,italian,no,no
1,1,2,dillon's,new york city,ny,2007-09-26,closed,Mar 2007,2008.0,indian,no,no
2,1,3,the mixing bowl,bellmore,ny,2007-10-03,closed,Mar 2007,2009.0,american,no,no
3,1,4,seascape,islip,ny,2007-10-10,closed,Mar 2007,2007.0,seafood,no,no
4,1,5,the olde stone mill,tuckahoe,ny,2007-10-17,closed,Mar 2007,2022.0,american,yes,no

3. NUMERIC DATA

First, we will create a new column for film_year and remove film_month and month columns since the month does not tell us much in terms of analysis.

In [30]:
#split 'film_month' column into 'month' and 'year' columns
clean_kn[['month', 'year']] = clean_kn['film_month'].str.split(' ', expand=True)

#remove 'month' and 'film_month' columns
clean_kn = clean_kn.drop(columns=['film_month'])
clean_kn = clean_kn.drop(columns=['month'])

#relocate column back to original position
col = clean_kn.pop('year')
clean_kn.insert(7, 'year', col)

#rename 'year' column
clean_kn = clean_kn.rename(columns={'year': 'film_year'})

clean_kn.head()

,season,episode,restaurant,city,state,air_date,status,film_year,closing_year,cuisine,revisited,two_parts
0,1,1,peter's,babylon,ny,2007-09-19,closed,2007,2008.0,italian,no,no
1,1,2,dillon's,new york city,ny,2007-09-26,closed,2007,2008.0,indian,no,no
2,1,3,the mixing bowl,bellmore,ny,2007-10-03,closed,2007,2009.0,american,no,no
3,1,4,seascape,islip,ny,2007-10-10,closed,2007,2007.0,seafood,no,no
4,1,5,the olde stone mill,tuckahoe,ny,2007-10-17,closed,2007,2022.0,american,yes,no

We have four columns of data that should be read in by Python as numeric data (season, episode, film_year, closing_year).

In [55]:
clean_kn['season'] = pd.to_numeric(clean_kn['season'])
clean_kn['episode'] = pd.to_numeric(clean_kn['episode'])
clean_kn['film_year'] = pd.to_numeric(clean_kn['film_year'])
clean_kn['closing_year'] = pd.to_numeric(clean_kn['closing_year'])

clean_kn.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 87 entries, 0 to 86
Data columns (total 12 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   season        87 non-null     int64
 1   episode       87 non-null     int64
 2   restaurant    87 non-null     object
 3   city          87 non-null     object
 4   state         87 non-null     object
 5   air_date      87 non-null     object
 6   status        87 non-null     object
 7   film_year     87 non-null     int64
 8   closing_year  68 non-null     float64
 9   cuisine       87 non-null     object
 10  revisited     87 non-null     object
 11  two_parts     87 non-null     object
dtypes: float64(1), int64(3), object(8)
memory usage: 8.3+ KB

4. DATE DATA

There is one column that needs to be recognized as date format (air_date)

In [56]:
clean_kn['air_date'] = pd.to_datetime(clean_kn['air_date'])

clean_kn.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 87 entries, 0 to 86
Data columns (total 12 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   season        87 non-null     int64
 1   episode       87 non-null     int64
 2   restaurant    87 non-null     object
 3   city          87 non-null     object
 4   state         87 non-null     object
 5   air_date      87 non-null     datetime64[ns]
 6   status        87 non-null     object
 7   film_year     87 non-null     int64
 8   closing_year  68 non-null     float64
 9   cuisine       87 non-null     object
 10  revisited     87 non-null     object
 11  two_parts     87 non-null     object
dtypes: datetime64[ns](1), float64(1), int64(3), object(7)
memory usage: 8.3+ KB

5. Finally, we'll save the formatted data as a Feather file.

In [70]:
clean_kn.to_feather('formatted_kitchen_nightmares.feather')

# Hotel Hell Data

## Data Cleaning

1. Read in messy Hotel Hell data link from Github repository.

In [31]:
hh_url = "https://github.com/Personal-Portfolio-Gordon-Ramsay-TCG/Gordon_Ramsay/raw/refs/heads/main/Messy%20Data/messy_hotel_hell.csv"

2. Read in CSV file from link.

In [32]:
hh_df = pd.read_csv(hh_url)
hh_df.head()

,Unnamed: 0,seasoned,E.p#,HOTEL,what city?,which state?,og air date,OPEN/CLOSED?,og film month,year closed?,2-parter
0,1,1.01,1,Juniper Hill Inn!!!!,Windsor,VT,2012-08-13,not open,Feb 2012,2014,Yes.
1,2,1,3,cambridge hotel,Cambridge,NY,2012-08-20,closed,Jan 2012,2012,No...
2,3,1,4,The Keating Hotel,San Diego,CA,2012-08-27,Open,Dec 2011,2022,No
3,4,1,5,River Rock Inn,Milford,PA,2012-09-03,Closed,Jan 2012,2014,No
4,5,1,6,The Roosevelt Inn,Cour d'Alene,idaho,2012-09-03,Open,Feb 2012,2020,No

3. Clean column names and drop the first column because it is unnecessary.

In [33]:
hh_df.columns

hh_df = hh_df.drop(columns=['Unnamed: 0'])

hh_df.columns = ['season', 'episode', 'hotel', 'city', 'state', 'air_date', 'status', 'film_month', 'closing_year', 'two_parts']

hh_df.columns

Index(['season', 'episode', 'hotel', 'city', 'state', 'air_date', 'status',
       'film_month', 'closing_year', 'two_parts'],
      dtype='object')

4. Next, we will check for all unique values in the 'season' column.

In [34]:
hh_df['season'].unique()

array(['1.01', '1', '2', '2,', '3', '3.'], dtype=object)

5. Some of the values were input incorrectly so we will manually change them. Then, we'll re-call the unique values to make sure there are only 3 possible values.

In [35]:
hh_df.loc[hh_df['season'] == '1.01', 'season'] = '1'
hh_df.loc[hh_df['season'] == '2,', 'season'] = '2'
hh_df.loc[hh_df['season'] == '3.', 'season'] = '3'

hh_df['season'].unique()

array(['1', '2', '3'], dtype=object)

6. Next, we will check for all unique values in the 'episode' column.

In [36]:
hh_df['episode'].unique()

array(['1', '3', '4', '5', ' 6', '1.0', '2', '6', '7', '8.', 'five', '8'],
      dtype=object)

7. Some of the values are incorrect, so we need to manually change them. Then, re-call unique values to make sure changes stuck.

In [37]:
hh_df.loc[hh_df['episode'] == ' 6', 'episode'] = '6'
hh_df.loc[hh_df['episode'] == '1.0', 'episode'] = '1'
hh_df.loc[hh_df['episode'] == '8.', 'episode'] = '8'
hh_df.loc[hh_df['episode'] == 'five', 'episode'] = '5'

hh_df['episode'].unique()

array(['1', '3', '4', '5', '6', '2', '7', '8'], dtype=object)

8. Next, we will check for all unique values in the 'hotel' column.

In [38]:
hh_df['hotel'].unique()

array(['Juniper Hill Inn!!!!', ' cambridge hotel', 'The Keating Hotel',
       'River Rock Inn', 'The Roosevelt Inn', 'Meson De Mesilla',
       'Monticello Hotel', 'Applegate River Lodge', 'Hotel Chester',
       'Calumet Inn', 'Four Seasons Inn', ' Curtis House?',
       'Murphys Hotel', "Angler's Lodge", 'Vienna/Inn',
       " Town's Inn, Part 1", 'Lakeview Hotel', 'Brick Hotel',
       'Beachfront Inn & Inlet', "Landoll's Mohican Castle"], dtype=object)

9. We need to manually change some values. Then, we will re-call the unique values to check our work.

In [39]:
hh_df.loc[hh_df['hotel'] == 'Juniper Hill Inn!!!!', 'hotel'] = 'Juniper Hill Inn'
hh_df.loc[hh_df['hotel'] == ' cambridge hotel', 'hotel'] = 'Cambridge Hotel'
hh_df.loc[hh_df['hotel'] == 'Vienna/Inn', 'hotel'] = 'Vienna Inn'
hh_df.loc[hh_df['hotel'] == " Town's Inn, Part 1", 'hotel'] = "Town's Inn"
hh_df.loc[hh_df['hotel'] == ' Curtis House?', 'hotel'] = 'Curtis House'

hh_df['hotel'].unique()

array(['Juniper Hill Inn', 'Cambridge Hotel', 'The Keating Hotel',
       'River Rock Inn', 'The Roosevelt Inn', 'Meson De Mesilla',
       'Monticello Hotel', 'Applegate River Lodge', 'Hotel Chester',
       'Calumet Inn', 'Four Seasons Inn', 'Curtis House', 'Murphys Hotel',
       "Angler's Lodge", 'Vienna Inn', "Town's Inn", 'Lakeview Hotel',
       'Brick Hotel', 'Beachfront Inn & Inlet',
       "Landoll's Mohican Castle"], dtype=object)

10. Next, let's check for unique values in the 'city' column.

In [40]:
hh_df['city'].unique()

array(['Windsor', 'Cambridge', 'San Diego', 'Milford', " Cour d'Alene",
       'Las Cruces', 'Longview', 'applegate', 'Starkville', 'Pipestone',
       'West Dover', 'WOODBURY', 'Murphys', 'Island Park', 'Southbridge',
       'Harpers Ferry...', 'Chelan', 'Newtown,', 'Fort Pierce',
       'Loudonville'], dtype=object)

11. There are a few values that need to be manually changed. Then, we will re-call the unique values to check our work.

In [41]:
hh_df.loc[hh_df['city'] == " Cour d'Alene", 'city'] = "Cour d'Alene"
hh_df.loc[hh_df['city'] == 'applegate', 'city'] = 'Applegate'
hh_df.loc[hh_df['city'] == 'WOODBURY', 'city'] = 'Woodbury'
hh_df.loc[hh_df['city'] == 'Harpers Ferry...', 'city'] = 'Harpers Ferry'
hh_df.loc[hh_df['city'] == 'Newtown,', 'city'] = 'Newtown'

hh_df['city'].unique()

array(['Windsor', 'Cambridge', 'San Diego', 'Milford', "Cour d'Alene",
       'Las Cruces', 'Longview', 'Applegate', 'Starkville', 'Pipestone',
       'West Dover', 'Woodbury', 'Murphys', 'Island Park', 'Southbridge',
       'Harpers Ferry', 'Chelan', 'Newtown', 'Fort Pierce', 'Loudonville'],
      dtype=object)

12. Next, let's check for unique values in the 'state' column.

In [42]:
hh_df['state'].unique()

array(['VT', 'NY', 'CA', 'PA', 'idaho', 'NM', 'WA', ' or', 'MS', 'MN',
       'CT', 'ID', ' MA', 'WV', 'washington', 'FL', 'OH!'], dtype=object)

13. We want to manually change some values and then re-call the unique values to check our work.

In [43]:
hh_df.loc[hh_df['state'] == 'idaho', 'state'] = 'ID'
hh_df.loc[hh_df['state'] == ' or', 'state'] = 'OR'
hh_df.loc[hh_df['state'] == 'idaho', 'state'] = 'ID'
hh_df.loc[hh_df['state'] == ' or', 'state'] = 'OR'
hh_df.loc[hh_df['state'] == ' MA', 'state'] = 'MA'
hh_df.loc[hh_df['state'] == 'washington', 'state'] = 'WA'
hh_df.loc[hh_df['state'] == 'OH!', 'state'] = 'OH'

hh_df['state'].unique()

array(['VT', 'NY', 'CA', 'PA', 'ID', 'NM', 'WA', 'OR', 'MS', 'MN', 'CT',
       'MA', 'WV', 'FL', 'OH'], dtype=object)

14. Next, we will check unique valus in the 'air_date' column.

In [44]:
hh_df['air_date'].unique()

array(['2012-08-13', '2012-08-20', '2012-08-27', '2012-09-03',
       'july 21 2014', '2014-07-28', '2014-08-04', '2014-08-11',
       '2014-08-18', '2014-08-25', '1st of september 2014', '2014-09-09',
       '2016-05-24', '2016-05-31', '06-07-2016', '2016-06-21',
       '2016-06-28', '2016-07-19', '2016-07-26'], dtype=object)

15. We want to make sure everything is in the correct date format so it can be interpreted correctly by Python. Let's manually change incorrect values to the format Y-M-D. Then, we'll re-call the unique values to check our work.

In [45]:
hh_df.loc[hh_df['air_date'] == 'july 21 2014', 'air_date'] = '2014-07-21'
hh_df.loc[hh_df['air_date'] == '1st of september 2014', 'air_date'] = '2014-09-01'
hh_df.loc[hh_df['air_date'] == '06-07-2016', 'air_date'] = '2016-06-07'

hh_df['air_date'].unique()

array(['2012-08-13', '2012-08-20', '2012-08-27', '2012-09-03',
       '2014-07-21', '2014-07-28', '2014-08-04', '2014-08-11',
       '2014-08-18', '2014-08-25', '2014-09-01', '2014-09-09',
       '2016-05-24', '2016-05-31', '2016-06-07', '2016-06-21',
       '2016-06-28', '2016-07-19', '2016-07-26'], dtype=object)

16. Next, we will check unique values in the 'status' column.

In [46]:
hh_df['status'].unique()

array([' not open', 'closed', ' Open', 'Closed', 'Open', 'sold',
       ' closed down', ' Closed'], dtype=object)

17. We should change values manually to create only two possible values- 'closed' and 'open'. Then, we'll re-call the unique values to check our work.

In [47]:
hh_df.loc[hh_df['status'] == ' not open', 'status'] = 'closed'
hh_df.loc[hh_df['status'] == ' Open', 'status'] = 'open'
hh_df.loc[hh_df['status'] == 'Closed', 'status'] = 'closed'
hh_df.loc[hh_df['status'] == 'Open', 'status'] = 'open'
hh_df.loc[hh_df['status'] == 'sold', 'status'] = 'closed'
hh_df.loc[hh_df['status'] == ' closed down', 'status'] = 'closed'
hh_df.loc[hh_df['status'] == ' Closed', 'status'] = 'closed'

hh_df['status'].unique()

array(['closed', 'open'], dtype=object)

18. Next, let's check unique values in the 'film_month' column.

In [48]:
hh_df['film_month'].unique()

array(['Feb    2012', 'Jan 2012', 'Dec 2011', ' Feb 2012', 'June 2013',
       'June, 2013', ' May 2013', 'May 2013', 'June 2013.', 'Nov, 2015',
       'Nov 2015', 'Oct ,2015', 'Dec 2015'], dtype=object)

19. We should change some values manually and then re-call the unique values to check our work.

In [49]:
hh_df.loc[hh_df['film_month'] == 'Feb    2012', 'film_month'] = 'Feb 2012'
hh_df.loc[hh_df['film_month'] == ' Feb 2012', 'film_month'] = 'Feb 2012'
hh_df.loc[hh_df['film_month'] == 'June, 2013', 'film_month'] = 'June 2013'
hh_df.loc[hh_df['film_month'] == ' May 2013', 'film_month'] = 'May 2013'
hh_df.loc[hh_df['film_month'] == 'June 2013.', 'film_month'] = 'June 2013'
hh_df.loc[hh_df['film_month'] == 'Nov, 2015', 'film_month'] = 'Nov 2015'
hh_df.loc[hh_df['film_month'] == 'Oct ,2015', 'film_month'] = 'Oct 2015'

hh_df['film_month'].unique()

array(['Feb 2012', 'Jan 2012', 'Dec 2011', 'June 2013', 'May 2013',
       'Nov 2015', 'Oct 2015', 'Dec 2015'], dtype=object)

20. Next, let's check unique values for 'closing_year'.

In [50]:
hh_df['closing_year'].unique()

array(['2014', '2012', '2022', '2020', ' na', '2017', nan,
       'not applicable', '2019', '2021'], dtype=object)

21. There are many different values that need to be read in by Python as nan values and need to be manually changed to nans. After, we will re-call unique values to check our work.

In [51]:
hh_df.replace(["N/A", "#N/A", " na", "not applicable"], np.nan, inplace=True)

hh_df['closing_year'].unique()

array(['2014', '2012', '2022', '2020', nan, '2017', '2019', '2021'],
      dtype=object)

22. Next, we will look at the unique values for 'two_parts'.

In [52]:
hh_df['two_parts'].unique()

array(['Yes.', ' No...', 'No', 'No...', ' No', 'No!', 'YES.', 'NO'],
      dtype=object)

23. We need to manually change some values, and then re-call the frequency table to make sure there are only two possible values- 'Yes' and 'No'.

In [53]:
hh_df.loc[hh_df['two_parts'] == 'Yes.', 'two_parts'] = 'Yes'
hh_df.loc[hh_df['two_parts'] == ' No...', 'two_parts'] = 'No'
hh_df.loc[hh_df['two_parts'] == 'No...', 'two_parts'] = 'No'
hh_df.loc[hh_df['two_parts'] == ' No', 'two_parts'] = 'No'
hh_df.loc[hh_df['two_parts'] == 'No!', 'two_parts'] = 'No'
hh_df.loc[hh_df['two_parts'] == 'YES.', 'two_parts'] = 'Yes'
hh_df.loc[hh_df['two_parts'] == 'NO', 'two_parts'] = 'No'

hh_df['two_parts'].unique()

array(['Yes', 'No'], dtype=object)

24. Saving the cleaned Hotel Hell data set to CSV.

In [54]:
hh_df.to_csv('cleaned_hotel_hell.csv', index=False)

## Data Formatting

1. Read in Clean Hotel Hell Data from Github link.

In [58]:
clean_hh_link = "https://github.com/Personal-Portfolio-Gordon-Ramsay-TCG/Gordon_Ramsay/raw/refs/heads/main/Clean%20Data/cleaned_hotel_hell.csv"
clean_hh = pd.read_csv(clean_hh_link)
clean_hh.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20 entries, 0 to 19
Data columns (total 10 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   season        20 non-null     int64
 1   episode       20 non-null     int64
 2   hotel         20 non-null     object
 3   city          20 non-null     object
 4   state         20 non-null     object
 5   air_date      20 non-null     object
 6   status        20 non-null     object
 7   film_month    20 non-null     object
 8   closing_year  12 non-null     float64
 9   two_parts     20 non-null     object
dtypes: float64(1), int64(2), object(7)
memory usage: 1.7+ KB

2. TEXT DATA

We have many columns of text data (hotel, city, state, status, two_parts) here that we want to make sure are all in lower case.

In [60]:
clean_hh['hotel'] = clean_hh['hotel'].str.lower()
clean_hh['city'] = clean_hh['city'].str.lower()
clean_hh['state'] = clean_hh['state'].str.lower()
clean_hh['status'] = clean_hh['status'].str.lower()
clean_hh['two_parts'] = clean_hh['two_parts'].str.lower()

clean_hh.head()

,season,episode,hotel,city,state,air_date,status,film_month,closing_year,two_parts
0,1,1,juniper hill inn,windsor,vt,2012-08-13,closed,Feb 2012,2014.0,yes
1,1,3,cambridge hotel,cambridge,ny,2012-08-20,closed,Jan 2012,2012.0,no
2,1,4,the keating hotel,san diego,ca,2012-08-27,open,Dec 2011,2022.0,no
3,1,5,river rock inn,milford,pa,2012-09-03,closed,Jan 2012,2014.0,no
4,1,6,the roosevelt inn,cour d'alene,id,2012-09-03,open,Feb 2012,2020.0,no

3. NUMERIC DATA

First, we will create a new column for film_year and remove film_month since the month does not tell us much in terms of analysis.

In [61]:
#split 'film_month' column into 'month' and 'year' columns
clean_hh[['month', 'year']] = clean_hh['film_month'].str.split(' ', expand=True)

#remove 'month' and 'film_month' columns
clean_hh = clean_hh.drop(columns=['film_month'])
clean_hh = clean_hh.drop(columns=['month'])

#relocate column back to original position
col = clean_hh.pop('year')
clean_hh.insert(7, 'year', col)

#rename 'year' column
clean_hh = clean_hh.rename(columns={'year': 'film_year'})

clean_hh.head()

,season,episode,hotel,city,state,air_date,status,film_year,closing_year,two_parts
0,1,1,juniper hill inn,windsor,vt,2012-08-13,closed,2012,2014.0,yes
1,1,3,cambridge hotel,cambridge,ny,2012-08-20,closed,2012,2012.0,no
2,1,4,the keating hotel,san diego,ca,2012-08-27,open,2011,2022.0,no
3,1,5,river rock inn,milford,pa,2012-09-03,closed,2012,2014.0,no
4,1,6,the roosevelt inn,cour d'alene,id,2012-09-03,open,2012,2020.0,no

We have four columns of data that need to be read in as numeric data by Python (season, episode, film_year, closing_year).

In [63]:
clean_hh['season'] = pd.to_numeric(clean_hh['season'])
clean_hh['episode'] = pd.to_numeric(clean_hh['episode'])
clean_hh['film_year'] = pd.to_numeric(clean_hh['film_year'])
clean_hh['closing_year'] = pd.to_numeric(clean_hh['closing_year'])

clean_hh.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20 entries, 0 to 19
Data columns (total 10 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   season        20 non-null     int64
 1   episode       20 non-null     int64
 2   hotel         20 non-null     object
 3   city          20 non-null     object
 4   state         20 non-null     object
 5   air_date      20 non-null     object
 6   status        20 non-null     object
 7   film_year     20 non-null     int64
 8   closing_year  12 non-null     float64
 9   two_parts     20 non-null     object
dtypes: float64(1), int64(3), object(6)
memory usage: 1.7+ KB

4. DATE DATA

There is one column that needs to be recognized as a date format (air_date).

In [64]:
clean_hh['air_date'] = pd.to_datetime(clean_hh['air_date'])

clean_hh.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20 entries, 0 to 19
Data columns (total 10 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   season        20 non-null     int64
 1   episode       20 non-null     int64
 2   hotel         20 non-null     object
 3   city          20 non-null     object
 4   state         20 non-null     object
 5   air_date      20 non-null     datetime64[ns]
 6   status        20 non-null     object
 7   film_year     20 non-null     int64
 8   closing_year  12 non-null     float64
 9   two_parts     20 non-null     object
dtypes: datetime64[ns](1), float64(1), int64(3), object(5)
memory usage: 1.7+ KB

5. Finally, we'll save the formatted data as a CSV file.

In [68]:
clean_hh.to_feather('formatted_hotel_hell.feather')

# Merging KN/HH Data

1. Read in Formatted Kitchen Nightmares data from Github.

In [71]:
formatted_kn_link = "https://github.com/Personal-Portfolio-Gordon-Ramsay-TCG/Gordon_Ramsay/raw/refs/heads/main/Formatted%20Data/formatted_kitchen_nightmares.feather"

formatted_kn = pd.read_feather(formatted_kn_link)

formatted_kn.head()

,season,episode,restaurant,city,state,air_date,status,film_year,closing_year,cuisine,revisited,two_parts
0,1,1,peter's,babylon,ny,2007-09-19,closed,2007,2008.0,italian,no,no
1,1,2,dillon's,new york city,ny,2007-09-26,closed,2007,2008.0,indian,no,no
2,1,3,the mixing bowl,bellmore,ny,2007-10-03,closed,2007,2009.0,american,no,no
3,1,4,seascape,islip,ny,2007-10-10,closed,2007,2007.0,seafood,no,no
4,1,5,the olde stone mill,tuckahoe,ny,2007-10-17,closed,2007,2022.0,american,yes,no

2. Read in Formatted Hotel Hell data from Github.

In [72]:
formatted_hh_link = "https://github.com/Personal-Portfolio-Gordon-Ramsay-TCG/Gordon_Ramsay/raw/refs/heads/main/Formatted%20Data/formatted_hotel_hell.feather"

formatted_hh = pd.read_feather(formatted_hh_link)

formatted_hh.head()

,season,episode,hotel,city,state,air_date,status,film_year,closing_year,two_parts
0,1,1,juniper hill inn,windsor,vt,2012-08-13,closed,2012,2014.0,yes
1,1,3,cambridge hotel,cambridge,ny,2012-08-20,closed,2012,2012.0,no
2,1,4,the keating hotel,san diego,ca,2012-08-27,open,2011,2022.0,no
3,1,5,river rock inn,milford,pa,2012-09-03,closed,2012,2014.0,no
4,1,6,the roosevelt inn,cour d'alene,id,2012-09-03,open,2012,2020.0,no

3. In order for the 'restaurant' and 'hotel' columns to be understood as the same thing, we should rename those columns in each data frame to simply be 'name'.

In [74]:
formatted_kn = formatted_kn.rename(columns={'restaurant': 'name'})
formatted_hh = formatted_hh.rename(columns={'hotel': 'name'})

print(formatted_kn.columns)
print(formatted_kn.columns)

Index(['season', 'episode', 'name', 'city', 'state', 'air_date', 'status',
       'film_year', 'closing_year', 'cuisine', 'revisited', 'two_parts'],
      dtype='object')
Index(['season', 'episode', 'name', 'city', 'state', 'air_date', 'status',
       'film_year', 'closing_year', 'cuisine', 'revisited', 'two_parts'],
      dtype='object')

4. There are two columns that formatted_kn has that formatted_hh does not. We should remove those so we have an easier time concatenating the two later.

In [76]:
formatted_kn.drop('cuisine', axis = 1, inplace=True)
formatted_kn.drop('revisited', axis = 1, inplace=True)

formatted_kn.columns

Index(['season', 'episode', 'name', 'city', 'state', 'air_date', 'status',
       'film_year', 'closing_year', 'two_parts'],
      dtype='object')

5. Next, let's create a 'show' column in both data frames so that we can either label rows as being from Kitchen Nightmares or from Hotel Hell.

In [77]:
formatted_kn['show'] = 'kitchen nightmares'
formatted_hh['show'] = 'hotel hell'

print(formatted_kn.columns)
print(formatted_hh.columns)

Index(['season', 'episode', 'name', 'city', 'state', 'air_date', 'status',
       'film_year', 'closing_year', 'two_parts', 'show'],
      dtype='object')
Index(['season', 'episode', 'name', 'city', 'state', 'air_date', 'status',
       'film_year', 'closing_year', 'two_parts', 'show'],
      dtype='object')

6. Both data frames have the exact same column names so we can do a vertical merge. We want to add on formatted_hh onto the bottom of formatted_kn.

In [78]:
merged_data = pd.concat([formatted_kn, formatted_hh])

,season,episode,name,city,state,air_date,status,film_year,closing_year,two_parts,show
0,1,1,peter's,babylon,ny,2007-09-19,closed,2007,2008.0,no,kitchen nightmares
1,1,2,dillon's,new york city,ny,2007-09-26,closed,2007,2008.0,no,kitchen nightmares
2,1,3,the mixing bowl,bellmore,ny,2007-10-03,closed,2007,2009.0,no,kitchen nightmares
3,1,4,seascape,islip,ny,2007-10-10,closed,2007,2007.0,no,kitchen nightmares
4,1,5,the olde stone mill,tuckahoe,ny,2007-10-17,closed,2007,2022.0,no,kitchen nightmares

7. Let's check the first 5 and last 5 rows of the merged data frame in order to make sure it worked as intended.

In [79]:
merged_data.head()

,season,episode,name,city,state,air_date,status,film_year,closing_year,two_parts,show
0,1,1,peter's,babylon,ny,2007-09-19,closed,2007,2008.0,no,kitchen nightmares
1,1,2,dillon's,new york city,ny,2007-09-26,closed,2007,2008.0,no,kitchen nightmares
2,1,3,the mixing bowl,bellmore,ny,2007-10-03,closed,2007,2009.0,no,kitchen nightmares
3,1,4,seascape,islip,ny,2007-10-10,closed,2007,2007.0,no,kitchen nightmares
4,1,5,the olde stone mill,tuckahoe,ny,2007-10-17,closed,2007,2022.0,no,kitchen nightmares

In [80]:
merged_data.tail()

,season,episode,name,city,state,air_date,status,film_year,closing_year,two_parts,show
15,3,3,town's inn,harpers ferry,wv,2016-06-07,open,2015,NaN,yes,hotel hell
16,3,5,lakeview hotel,chelan,wa,2016-06-21,closed,2015,2021.0,no,hotel hell
17,3,6,brick hotel,newtown,pa,2016-06-28,open,2015,NaN,no,hotel hell
18,3,7,beachfront inn & inlet,fort pierce,fl,2016-07-19,closed,2015,2019.0,no,hotel hell
19,3,8,landoll's mohican castle,loudonville,oh,2016-07-26,open,2015,NaN,no,hotel hell

8. Finally, we'll save the newly merged KN/HH data as a Feather file.

In [81]:
merged_data.to_feather('gordon_ramsay_data.feather')